body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans JP',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfcf0;
}

