/************** PROJECTS *****************/

.Projects{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  animation: fadeIn 3s forwards;
}

/************** KEYFRAMES *****************/

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/************** RESPONSIVE MEDIA QUERIES *****************/

@media (max-width: 1000px){
  .Projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 3s forwards;
  }
}